.navbar {
  background-color: rgb(125, 18, 175);
  padding: 15px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    color: rgb(235, 231, 33);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__toggle {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__menu-link {
    color: #fff;
    transition: 0.2s ease;
    text-transform: capitalize;

    &.active,
    &:hover {
      color: rgb(235, 231, 33);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &__toggle {
      display: block;
    }

    &__menu {
      display: none;

      &--show {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
      }
    }
  }
}
